@font-face {
    src: url(../assets/fonts/OpenSans-Regular.ttf);
    font-family: opsans;
}

* {
    font-family: opsans, sans-serif;
}

body {
    margin: 0;
    padding: 0.5rem;
    background: linear-gradient(45deg, #f8e5d5, #eed8ea) fixed;
}

.failed{
    padding: 5px;
    color: rgb(255, 0, 0, 0.8);
    background-color: rgb(255, 0, 0, 0.2);
}

.small-font {
    font-size: 0.9rem;
}


/*-------------------------------------*/
/* Login */

#login, #register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#loginBox, #registerBox{
    width: 300px;
    height: 470px;
    border: black 1px solid;
    border-radius: 50px;
    background-color: lightblue;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    form{
        width: 210px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}

#loginLink, #registerLink{
    color: blue;
    cursor: pointer;
}


/*-------------------------------------*/

/* Header */

header {
    background-color: #867474; /* Hintergrundfarbe des Headers */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: white; /* Textfarbe */
    display: flex; /* Flexbox-Layout */
    justify-content: end; /* Elemente gleichmäßig verteilen */
    align-items: center; /* Elemente vertikal zentrieren */
}

#profileIcon{
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: 20px;
    img{
        width: 100%;
        height: 100%;
    }
}

.menu{
    background-color: white;
    width: 270px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 65px;
    top: 50px;
    border: black 1px solid;
    border-radius: 5px;
    z-index: 1;
    .menuBox{
        display: flex;
        flex-direction: column;
        width: 200px;
        gap: 10px;
    }
}

/*-------------------------------------*/
/* Songlist */

.songList{
    margin-top: 100px;
    height: 630px;
    padding: 50px;
    border: black 1px solid;
    overflow-y: scroll;
}

#userCreatedListBox, #userVisibleListBox{
    padding-top: 50px;
    border-top: black 1px solid;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1{
        position: absolute;
        top: -70px;
    }
}

.songBox{
    height: 250px;
    width: 450px;
}

.songBox .inputs{
    position: absolute;
    top: 30px;
    right: 0;

    .genreDropdown{
        position: absolute;
        right: 0;
        top: 10px;
    }
    .checkBoxes{
        position: relative;
        right: 130px;
    }
}

.songDescription{
    position: absolute;
    top: 85px;
    right: 0;
    height: 100px;
    width: 220px;
    resize: none;
}

.songBox .submit{
    position: absolute;
    bottom: 23px;
    right: 70px;
}

.songBox div{
    float: right;
}

.songForm{
    position:relative;
    height: 100%;
}

.songList img{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    height: 200px;
    width: 200px;
}

.songTitle{
    text-align: center;
    width: 220px;
}

textarea {
    background-color: rgba(255, 255, 255, 0.28);
}